<article class="post-card flex-column card-width border">
  <div class="post-info">
    <h4 class="post-title"><%= post.title %></h4>
    <span><%= post.author.name %></span>
    <p><%= post.text %></p>
  </div>
  <span class="post-stats">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
  <div class="flex-row mid-gap">
    <%= link_to 'Add comment', new_user_post_comment_path(user_id: @user, post_id: post), class: "btn" %>
    <%= button_to 'Like', like_path(user_id: @user, id: post), remote: true, method: "put", class: "btn"%>
    <% if can? :destroy, post %>
      <%= button_to 'Delete', user_post_path(user_id: @user, id: post.id), remote: true, method: :delete, class: "btn"%>
    <% end %>
  </div>
</article>
