<article class="post-card flex-column card-width border">
  <div class="post-info">
    <h4 class="post-title"><%= post.title %></h4>
    <p><%= post.text %></p>
  </div>
  <span class="post-stats">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
  <%= button_to 'Like', like_path(user_id: @user, id: post), method: "put" %>
</article>
