<div class="post-index container flex-column center">
  <%= render 'shared/card', user: @user %>
  <% @posts.each do |post|%>
    <%= render 'shared/post', post: post %>
    <% if post.comments_counter == 0 %>
    <div class="border card-width">
      <span>This post don't Have any comments</span>
    </div>
    <% else %>
        <div class="comments-container card-width border">
      <% @comments.each do |comment|%>
        <% if comment.post_id == post.id %>
          <li class="little-gap"><%= comment.author.name %>: <%= comment.text %></li>
        <% end %>
    <% end %>
    </div>
    <% end %>
  <% end %>
  <div class="flex-row mid-gap">
    <%= link_to 'Create new post', new_user_post_path(user_id: @user), class: "btn" %>
  <button class="btn mid-gap">Pagination</button>
  </div>
</div>
